<div class="row mt-5">

  <div class="col-6 card shadow mx-auto p-3">

    <h3 class="text-center">CONNEXION</h3>

    <div
      *ngIf="errMsg"
      class="alert alert-danger my-2">
      {{errMsg}}
    </div>

    <form #authForm="ngForm" (ngSubmit)="onSubmitAuthForm()">

      <div class="mb-3">
        <label for="login">Login</label>
        <input
          #loginInput="ngModel"
          id="login"
          name="login"
          class="form-control"
          placeholder="Login"
          required
          login
          [(ngModel)]="login">

        <app-errors-form
          [control]="loginInput"
          controlLabel="'login'">
        </app-errors-form>
      </div>

      <div class="mb-3">
        <label for="password">Mot de passe</label>
        <input
          #passwordInput="ngModel"
          id="password"
          type="password"
          name="password"
          class="form-control"
          placeholder="Mot de passe"
          required
          [(ngModel)]="password"
        >

        <app-errors-form
          [control]="passwordInput"
          controlLabel="'Mot de passe'">
        </app-errors-form>
      </div>

      <div class="row col-4 mx-auto">
        <button
          type="submit"
          class="btn btn-dark btn-lg"
          [disabled]="authForm.invalid">
          ME CONNECTER
        </button>
      </div>
    </form>
  </div>
</div>
